@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding: 30px 5%;
    background-color: #8D7B68;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-direction: row;
}

.nav li {
    list-style: none;
    padding: 0px 20px;
}


.logo {
    cursor: pointer;
}

.right {
    margin-right: -50px;
}

    .right li {
        list-style: none;
        display: inline-block;
        padding: 0px 3px;
    }

.cart {
    margin-right: 40px;
    cursor: pointer;
}

.right button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0;
    width: 100px;
    padding: 10px 0;
    box-shadow: 0 0 5px;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

    a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #FFF;
        transition: width .3s;
    }

    a:hover::after {
        width: 100%;
        transition: width .3s;
    }

/* ------------------ */
/* --- Screen Dim --- */
/* ------------------ */

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

/* ------------- */
/* --- Login --- */
/* ------------- */

#loginWindow {
    position: absolute;
    border-radius: 8px;
    z-index: 4;
    padding: 20px 30px;
    background-color: #675a4c;
    width: 30%;
    left: 35%;
    display: none;
    min-width: 450px;
    margin-top: 50px;
    color: white;
}

    #loginWindow input[type = "text"], #loginWindow input[type = "password"] {
        font-weight: 500;
        border: 0;
        background: #847361;
        display: block;
        margin: 20px auto;
        text-align: left;
        padding: 14px 10px;
        max-width: 990px;
        width: 78%;
        outline: none;
        color: white;
        border-bottom: #644d35 3px solid;
        min-width: 260px;
    }

        #loginWindow input[type = "text"]::placeholder, #loginWindow input[type = "password"]::placeholder {
            font-weight: 200;
            color: white;
        }

#loginWindow h1 {
    font-size: revert;
    margin: 0px auto 10px auto;
    font-weight: 200;
    text-align: center;
    border: none;
    text-decoration: none;
}

.submit {
    border: 0;
    background: none;
    display: block;
    margin: 40px auto;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 14px 40px;
    min-width: 130px;
    outline: none;
    color: black;
    cursor: pointer;
    font-weight: 600;
    transition: box-shadow .3s;
}

    .submit:hover {
        box-shadow: 0 0 10px 0px rgb(0, 0, 0, 0.5);
        transition: box-shadow .3s;
    }

/* -------------- */
/* --- Search --- */
/* -------------- */

.searchLbl {
    color: inherit;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

    .searchLbl::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #FFF;
        transition: width .3s;
    }

    .searchLbl:hover::after {
        width: 100%;
        transition: width .3s;
    }

#searchWindow {
    position: absolute;
    border-radius: 8px;
    z-index: 3;
    padding: 20px 40px;
    background-color: #675a4c;
    width: 50%;
    top: 25%;
    left: 25%;
    display: none;
    color: white;
}

    #searchWindow input[type = "text"] {
        font-weight: 500;
        border: 0;
        background: #847361;
        color: white;
        margin-top: 20px;
        text-align: left;
        padding: 14px 10px;
        max-width: 990px;
        width: 80%;
        outline: none;
        border-bottom: #2b2d30 3px solid;
        margin-left: 9px;
    }

    #searchWindow h1 {
        font-size: revert;
        margin: 0px auto 10px auto;
        font-weight: 200;
        text-align: center;
        border: none;
        text-decoration: none;
    }

    #searchWindow p {
        text-align: center;
        font-weight: 200;
    }

    #searchWindow label {
        display: inline-block;
        width: 100px;
        text-align: right;
        font-weight: 200;
    }

.searchBtn {
    font-weight: 600;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    display: block;
    margin: 20px auto 0px auto;
    width: 100px;
    padding: 10px 0;
    color: #2c2620;
    transition: box-shadow .3s;
}

    .searchBtn:hover {
        box-shadow: 0 0 10px;
        transition: box-shadow .3s;
    }

#searchTable {
    margin: 20px auto 10px auto;
    display: block;
    width: fit-content;
}

    #searchTable table {
        border-collapse: separate;
        border-spacing: 0px;
        text-align: center;
    }

    #searchTable th {
        border: 1px solid #c9c0b6;
        background-color: #847361;
        padding: 10px;
    }

    #searchTable td {
        border: 1px solid #c9c0b6;
        background-color: #9e8d7b;
        padding: 10px;
    }

        #searchTable td:hover {
            background-color: #91806E;
        }

    #searchTable thead tr:first-of-type th:first-child {
        border-top-left-radius: 10px;
        overflow: hidden;
    }

    #searchTable thead tr:first-of-type th:last-child {
        border-top-right-radius: 10px;
        overflow: hidden;
    }

    #searchTable tbody tr:last-of-type td:first-child {
        border-bottom-left-radius: 10px;
        overflow: hidden;
    }

    #searchTable tbody tr:last-of-type td:last-child {
        border-bottom-right-radius: 10px;
        overflow: hidden;
    }

    #searchTable thead tr:first-of-type th {
        border-top: 1.5px solid #c9c0b6;
    }

    #searchTable tbody tr:last-of-type td {
        border-bottom: 1.5px solid #c9c0b6;
    }

    #searchTable tbody tr td:first-of-type {
        border-left: 1.5px solid #c9c0b6;
    }

    #searchTable tbody tr td:last-of-type {
        border-right: 1.5px solid #c9c0b6;
    }

/* ------------------------- */
/* --- Database Maintain --- */
/* ------------------------- */

.dbMaintain-btn {
    color: inherit;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

    .dbMaintain-btn::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #FFF;
        transition: width .3s;
    }

    .dbMaintain-btn:hover::after {
        width: 100%;
        transition: width .3s;
    }

.dbMaintain-options {
    display: none;
    position: absolute;
    background-color: #766757;
    width: fit-content;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 20px 20px 10px 20px;
}

    .dbMaintain-options a {
        display: block;
        margin-bottom: 10px;
    }



