.product-card{
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.product-card > img {
    width: 240px;
    height: 116px;
}

.price{
    color: green;
    margin-top: 20px;
}

.product-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}