td {
    border: 2px solid;
    border-color: white;
    text-align: center;
    background-color: #d9e6f2;
    margin: 5px;
}

    td:hover {
        background-color: #a2c0dd;
    }

th {
    border: 2px solid;
    border-color: white;
    background-color: #a2c0dd;
    margin: 5px;
}

table {
    width: 100%;
}

button {
    margin-top: 3px;
    margin-bottom: 3px;
}

.textbox {
    width: 500px;
}

.productImg {
    height: 120px;
    width: auto;
}

.rbtnGroup {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 6em
}
