@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #EDF1D6;
}

h1 {
    margin: 30px;
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

/* ------------- */
/* --- Main --- */
/* ------------- */

.redirect {
    color: #8D7B68;
    text-decoration: underline;
}

.main-image {
    margin: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1558346648-9757f2fa4474?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.main-title {
    background-color: rgba(255,255,255,0.9);
    flex: 1;
    text-align: center;
    padding: 15px;
}

/* -------------------- */
/* --- Review Cards --- */
/* -------------------- */

.reviewCards {
    display: flex;
    justify-content: center;
}

.card {
    width: 22%;
    background-color: white;
    height: auto;
    border-radius: 15px;
    padding-top: 22px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 15px;
    max-width: 320px;
    min-height: 360px;
}

.user-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start
}

    .user-container > img {
        height: 20%;
        width: 20%;
        margin: 7%;
        display: block;
        margin-bottom: 25px;
        margin-top: 15px;
    }

.reviewInfo {
    margin-top: 10%;
}

/* Name */
h3 {

}

.star {
    color: orange;
}

/* Title */
h4 {
    font-size: 16px;
    margin: 0px;
    padding: 0% 5% 1% 5%;
}

.review {
    min-height: 110px;
    padding: 5%;
}

/* -------------- */
/* --- Search --- */
/* -------------- */

#reviewSearchForm {
    padding: 10px;
    margin: 20px auto 10px auto;
    width: 50%;
    border: none;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#reviewSearchForm label {
    width: 600px;
}

#reviewSearchForm input {
    width: calc(100% - 4em);
    font-size: 16px;
    padding: 0px 5px;
}