@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #EDF1D6;
    height: 100%;
}

h1 {
    margin: 30px;
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.box {
    border: none;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0px auto 30px auto;
    width: fit-content;
    padding: 5px;
}

/*For Screen Readers*/
.visuallyHidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}

#successMsg {
    display: none;
    padding: 3px 5px;
    width: fit-content;
    color: green;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border: 1.5px solid green;
    border-radius: 15px;
}

#errorMsg {
    display: none;
    padding: 3px 5px;
    width: fit-content;
    color: red;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border: 1.5px solid red;
    border-radius: 15px;
}

/* ------------ */
/* --- Main --- */
/* ------------ */

.redirect {
    color: #8D7B68;
    text-decoration: underline;
}

#main-image {
    margin: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1558346648-9757f2fa4474?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

#main-title {
    background-color: rgba(255,255,255,0.9);
    flex: 1;
    text-align: center;
    padding: 15px;
}

/* -------------- */
/* --- Search --- */
/* -------------- */

#reviewSearchForm {
    padding: 10px;
    margin: 30px auto;
    width: 50%;
}

    #reviewSearchForm label {
        font-weight: 600;
    }

    #reviewSearchForm input {
        width: calc(100% - 4em);
        font-size: 16px;
        padding: 0px 5px;
    }

/* -------------------- */
/* --- Review Cards --- */
/* -------------------- */

#reviewCards {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/* [     [ [Image] [Name Rating] ]   [Title Content]     ] */
.card {
    width: 80%;
    height: auto;
    padding-top: 22px;
    margin: 0px auto 30px auto;
    padding: 20px;
}

    /* [ [Image] [Name Rating] ] */
    .card .user-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        margin-bottom: 15px;
    }

        /* Image */
        .card .user-container > img {
            height: 65px;
            margin-right: 20px;
            display: block;
        }

        /* [Name Rating] */
        .card .user-container .reviewInfo {
            margin: auto 0px;
        }

            /* Name */
            .card .user-container .reviewInfo h3 {
                font-size: 20px;
            }

            /* Rating */
            .card .user-container .reviewInfo .star-unchecked {
                color: lightgrey;
            }

            .card .user-container .reviewInfo .star-checked {
                color: orange;
            }

    /* Title */
    .card h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    /* Content */
    .card .review {
    }

/* -------------------- */
/* --- Write Review --- */
/* -------------------- */

#writeReviewForm {
    padding-bottom: 30px;
    display: none;
}

    #writeReviewForm .box {
        margin: 0px auto;
        width: 90%;
        padding: 20px;
    }

        #writeReviewForm .box h4 {
            font-size: 16px;
            text-decoration: underline;
            text-underline-offset: 0.25em;
            text-align: center;
        }

        #writeReviewForm .box div {
            display: block;
            margin: 20px 0px;
            font-weight: 600;
        }

            #writeReviewForm .box div label {
                display: inline-block;
                width: 60px;
                text-align: right;
                padding-right: 5px;
                vertical-align: top;
            }

            #writeReviewForm .box div input[type='text'], #writeReviewForm .box div textarea {
                font-size: 16px;
                font-weight: 500;
                width: calc( 100% - 65px );
            }

        /* Star Box */

        #writeReviewForm .box #reviewStars {
            display: inline-block;
            padding: 0px 0px 0px 60px;
            margin: 0px
        }

            #writeReviewForm .box #reviewStars input[type='radio'] {
                position: absolute;
                opacity: 0;
                width: 1em;
                height: 1em;
            }

                /* Star Focus for Accessability */

                #writeReviewForm .box #reviewStars input[type='radio']:focus + label {
                    outline: 3px solid orange;
                    outline-offset: 2px;
                }

                #writeReviewForm .box #reviewStars input[type='radio']:focus:not(:focus-visible) + label {
                    outline: none;
                }

                /* Star Colour Change */

                #writeReviewForm .box #reviewStars input[type='radio'] + label {
                    padding: 0px;
                    width: fit-content;
                    color: lightgray;
                }

                #writeReviewForm .box #reviewStars input[type='radio']:checked + label {
                    color: orange;
                }

                #writeReviewForm .box #reviewStars input[type='radio'] + label:not( #reviewStars input[type='radio']:checked ~ label) {
                    color: orange;
                }

        /* Submit Button */

        #writeReviewForm .box button {
            box-shadow: 0 0 10px 0px rgb(0, 0, 0, 0.2);
            /*background-color: #91806E;*/
            background-color: lightslategray;
            color: white;
            margin: 0px auto;
            transition: box-shadow .3s;
        }

            #writeReviewForm .box button:hover {
                box-shadow: 0 0 10px 0px rgb(0, 0, 0, 0.5);
                transition: box-shadow .3s;
            }
