@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #EDF1D6;
}

h1 {
    margin: 30px;
    font-size: 60px;
}

.flex {
    display: flex;
    justify-content: center;
}

.card {
    width: 22%;
    background-color: white;
    height: auto;
    border-radius: 15px;
    padding-top: 22px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 15px;
    max-width: 320px;
    max-height: 500px;
}

img {
    border-radius: 50%;
    height: 30%;
    margin: auto;
    display: block;
    margin-bottom: 25px;
    margin-top: 15px;
    border: 1px solid black;
}

h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.bio {
    min-height: 110px;
}

.contact {
    margin-top: 18px;
    color: gray;
}

.center{
    text-align: center;
}