body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

table {
    margin: 1%;
    display: block;
    width: fit-content;
    color: white;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0px;
    overflow: visible;
}

    table th {
        border: 1px solid #91806E;
        background-color: #91806E;
        padding: 10px;
    }

    table td {
        border: 1px solid #91806E;
        background-color: #b3a698;
        padding: 10px;
        font-weight: 500;
    }

        table td:hover {
            background-color: #A39586;
        }

    table thead tr:first-of-type th:first-child {
        border-top-left-radius: 10px;
        border-left: 1.5px solid #91806E;
        overflow: hidden;
    }

    table thead tr:first-of-type th:last-child {
        border-top-right-radius: 10px;
        border-right: 1.5px solid #91806E;
        overflow: hidden;
    }

    table thead tr:first-of-type th {
        border-top: 1.5px solid #91806E;
    }

    table tbody tr:last-of-type td:first-child {
        border-bottom-left-radius: 10px;
        border-left: 1.5px solid #91806E;
        overflow: hidden;
    }

    table tbody tr:last-of-type td:last-child {
        border-bottom-right-radius: 10px;
        border-right: 1.5px solid #91806E;
        overflow: hidden;
    }

    table tbody tr:last-of-type td {
        border-bottom: 1.5px solid #91806E;
    }

#tableName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 10px 10px 0px 0px;
}

    #tableName option {
        font-size: 16px;
        font-weight: 600;
    }

#insertValuesForm > label, #tableNameForm > label, #insertQuery {
    margin: 10px 20px;
}

#insertValuesForm > label {
    display: none;
}

#insertValues {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
    margin: 1%;
}

.queryColumn {
    margin: 5px;
    color: white;
    width: 15%;
}

    .queryColumn label {
        text-align: center;
        display: block;
        font-weight: 600;
        width: 100%;

        border: 1px solid #91806E;
        background-color: #91806E;
        padding: 10px;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .queryColumn input {
        display: block;
        width: 100%;

        border: 1px solid #b3a698;
        background-color: #b3a698;
        padding: 10px;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

        .queryColumn input[type = "text"] {
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }
