table {
    color: white;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 15px;
    border: 2px solid;
}

th {
    border: 2px solid;
    padding: 15px;
}

body {
    background-color: blueviolet;
}

h3 {
    color: white;
    text-align: center;
    margin:0;
}