 
<!DOCTYPE html>
<html>
 
<script src="../../angular.min.js"></script>

<body>

<div ng-app="app1" ng-controller="cnt1">

 Income: <input type="number" ng-model="income"><br>
 TaxRate: <input type="number" ng-model="rate"><br>
<br>
       Total Tax: {{ income * rate / 100 }}

</div>

<script>
var app = angular.module('app1', []);
app.controller('cnt1', function($scope) 
{
    $scope.income = 20000;
    $scope.rate = 5;
});
</script>

</body>
</html>

<!--
-------------------------------------------------------------
Output:
    Total Tax: 1000

-->
